<strong>
  Olá, Fabricio!
</strong>
<p>Uma atualização do LOGICS através da API, finalizou. Veja abaixo:</p>
<p>
  <strong>Data source:</strong> {{ source }} <br />
  <strong>Data/hora:</strong> {{ date }} <br /><br />
  <small>
    Obrigado por utilizar a API.
  </small>
</p>
